$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'colors';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

/* === Grid === */
@import 'breakpoints';
@import 'grid'; 
@import 'fontsize';



body             { background: white; }
.container, 
.container-fluid { max-width: 1128px; }

footer{
    background: $gray-dark;
    color: white;
}


/* === Helpers === */
*             { transition: all .15s ease-in-out; }
body          { font-weight: 400; font-family: "PT Sans";}
img           { width: 100%; max-width: auto; height: auto; }
.upcase       { text-transform: uppercase; }
.inline-block { display:inline-block; }
.fa           { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }
.nav-active-item
              { color: white;text-decoration: none;background: $gray;text-transform: uppercase;letter-spacing: 1px;text-shadow: none; }

.arrow-up{
    $size: 5px;
    &:after, &:before{
        bottom: 100%;
        left: 25px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after{
        border-color: rgba(85, 85, 85, 0);
        border-bottom-color: #555555;
        border-width: $size;
        margin-left: -$size;
    }
    &:before{
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: $size+1;
        margin-left: -($size+1);
    }
}


/* === Variables === */
$defaultSpeed: .5s;
$defaultEase: ease-in-out;
a, a:hover{
    text-decoration: none;
    .content-body &{
        text-decoration: underline;
    }
    &.external{
        &:after{
            font-family: fontawesome;
            content: "\f08e";
            display: inline-block;
            position: relative;
            margin-left: 5px;
        }
    }
}

/*==========================================
Header                         
==========================================*/

/*==========  Topper  ==========*/
nav.topper{
    vertical-align: middle;    
    background: $brand-primary-light;

    a{
        display: inline-block;
        padding: 17px;
        font-size: 13px; //change to rem (proxima nova bold);
        &.dropdown{
            &:hover{
                background: #343434;
            }
        }
    }
}
#header-search-expand{
    display: inline-block;
    .search-field-container{
        display: none;
    }    
}



/*==========  Primary Nav  ==========*/

nav.primary{
    border-bottom: 4px solid $gray-lighter;
    
    & > ul{ 
        list-style: none;
        margin-bottom: 0;
        li{
            $primaryNavItemWidth: 145px;
            width: $primaryNavItemWidth;
            display: inline-block;
            vertical-align: top;
            a{
                display: inline-block;
                width: $primaryNavItemWidth;
                padding: 30px 0;
                &:before{
                    content: "";
                    display: inline-block;
                    border-left: 1px solid $gray-lighter;
                }
            }    
        }

    }
}

/*==========  Page Header  ==========*/

.page-header{
    margin: 0;
    background: $brand-primary-dark;
    color: white;
    padding: 2.5rem 0;
    h1{ margin: 0; }
}

/*-----  End of Header  ------*/


/*=============================
=            Aside            =
=============================*/

aside{
    nav{
        & > ul{
            list-style: none;
            padding: 0;
        }
    }
}


/*-----  End of Aside  ------*/





/*===============================
=            Main            =
===============================*/
    
.accessibility-bar{
    overflow: hidden;
    border-bottom: 1px solid $gray-light;
    & > ul{
        display: flex;
        list-style: none;
        padding: 0 0 12px;
        margin: 0;
        li{
            a{
                display: inline-block;
                padding: 0 10px;
                color: lighten($gray, 10%);
            }            
        }
    }
}
main.container-fluid{
    padding: 3.125rem 0 95px;
}
.content-body{
    clear: both;
    ul{
        padding-left: 0.9375rem;
        margin-left: 0.9375rem;
    }

    h3{
        margin: 2.5rem 0 1.875rem;
        @include font-size(4);
    }
}

/*-----  End of Main  ------*/

    
/*===============================
=            Modules            =
===============================*/

.module-primary{
    border: 1px solid lighten($gray-light,20%);
    margin-bottom: 1.5rem;
    ul{
        padding: 1.875rem 2.8125rem;
    }
    header{
        background: $brand-primary;
        color: white;
        padding: 1.0625rem 2.8125rem;
        box-shadow: 0 0 0px 1px $brand-primary;

        h4{ margin: 0; }
        a{ color: white; }
    }
}

/*-----  End of Modules  ------*/



